* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 10px;
}

h1,
h2,
h3 {
  line-height: 1.3;
  margin: 0;
}

h2 {
  font-size: 27px;
  font-family: 'Lovers Quarrel', cursive;
}

input,
button {
  font-size: 1em;
}
