:root {
  --color-white: #fefefe;
  --color-black: #111;
  --color-primary: #333;
  --color-gryffindor: #721817;
  --color-hufflepuff: #fa9f42;
  --color-ravenclaw: #2b4162;
  --color-slytherin: #0b6e4f;
  --font-color: #e0e0e2;
}
