.AppHeader {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
}

.AppHeader h1 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-size: 1.7rem;
  text-align: center;
}

.logo {
  margin-left: 5px;
}
